.form-style-7{
	max-width:400px;
	margin:50px auto;
	background:#fff;
	border-radius:2px;
	padding:20px;
	letter-spacing: 0em;
	line-height: 0.8;
}
.form-style-7 h1{
	display: block;
	text-align: center;
	padding: 0;
	margin: 0px 0px 20px 0px;
	color: #5C5C5C;
	font-size:x-large;
}
.form-style-7 ul{
	list-style:none;
	padding:0;
	margin:0;	
}
.form-style-7 li{
	display: block;
	padding: 9px;
	border:1px solid #DDDDDD;
	margin-bottom: 30px;
	border-radius: 3px;
}
.form-style-7 li:last-child{
	border:none;
	margin-bottom: 0px;
	text-align: center;
}
.form-style-7 li > label{
	display: block;
	float: left;
	margin-top: -19px;
	background: #FFFFFF;
	height: 14px;
	padding: 2px 5px 2px 5px;
	color: #CC1142;
	font-size: 14px;
	overflow: hidden;

}
.form-style-7 input[type="text"],
.form-style-7 input[type="number"],
.form-style-7 textarea,
.form-style-7 select 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	display: block;
	outline: none;
	border: none;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	padding: 0;
	
}
.form-style-7 input[type="text"]:focus,
.form-style-7 input[type="number"]:focus,
.form-style-7 textarea:focus,
.form-style-7 select:focus 
{
}
.form-style-7 li > span{
	background: #F3F3F3;
	display: block;
	padding: 3px;
	margin: 0 -9px -9px -9px;
	text-align: center;
	color: #BC1142;
	
	font-size: 11px;
}
.form-style-7 textarea{
	resize:none;
}
.form-style-7 input[type="submit"],
.form-style-7 input[type="button"],
.form-style-7 button{
	background: #ffde59;
	border: none;
	padding: 10px 20px 10px 20px;
	border-color: #bc1142 !important;
	border-radius: 3px;
	color: #bc1142;
	  margin-left: auto;
  margin-right: auto;
}
.form-style-7 input[type="submit"]:hover,
.form-style-7 input[type="button"]:hover,
.form-style-7 button:hover{
	background: #bc1142;
	color:#ffde59;
}

button{
	max-width:400px !important;
	margin:50px auto !important;
	background:#ffde59 !important;
	border-radius:2px !important;
	border: none;
	padding: 10px 20px 10px 20px !important;
	border-color: #bc1142 !important;
	border-radius: 3px;
	color: #bc1142;
}

button:hover{
	background: #bc1142 !important;
	color:#ffde59 !important;
}